# 3. Data analysis and optimization

Now that we have the data, we need to examine it and refine the information before we can move on.\
To do this, we will first import the required directories:

In [1]:
import pandas as pd
import re
from datetime import date

Now lets load our data:

In [2]:
df = pd.read_csv('data/data_after_scraping.csv')

> # 3.1 Variable classification:

To begin the analysis of the information we received we will need to classify the variables.\
Let's print all the variables in our table:

In [3]:
print(df.columns.values)

['docTitle' 'docName' 'gender' 'firstSpeciality' 'secountSpeciality'
 'numberOfSpecializations' 'clinicStreet' 'clinicCity'
 'closestAppointment' 'dateOfScraping' 'onlineAppointmentScheduling'
 'onlineAppointmentCanceling' 'needsReferral' 'preformUS' 'absence'
 'acceptingNewPatients' 'videoCall' 'licenseNum' 'languages' 'visitCost'
 'accessible' 'receptionOnSunday' 'receptionOnMonday' 'receptionOnTuesday'
 'receptionOnWednesday' 'receptionOnThursday' 'receptionOnFriday'
 'receptionOnSaturday' 'graduationYear' 'academicInstitution' 'profession'
 'specialization' 'specializationMedicalInstitution' 'specializationYear']

Let's understand what each variable contains:

**docTitle** - Represents the doctor's degree (Dr/Prof).\
**docName** - Represents the doctor's name.\
**gender** - Represents the doctor's gender (M/F).\
**firstSpeciality** - Represents the doctor's main speciality.\
**secountSpeciality** - Represents the doctor's secoundary spaciality (if there is one).\
**numberOfSpecializations** - Represents the doctor's number of specializations.\
**clinicStreet** - Represents the clinic street.\
**clinicCity** - Represents the clinic city.\
**closestAppointment** - Represents the closest appoitment available.\
**dateOfScraping** - Represents the date of accuracy of information.\
**onlineAppointmentScheduling** - Represents the ability to schedule an appointment online (True/False).\
**onlineAppointmentCanceling**  - Represents the ability to cancel an appointment online (True/False).\
**needsReferral** - Represents the need of referral in order to schedule an appointment (True/False).\
**preformUS** - Represents the ability of the doctor to perform an ultrasound during the session (True/False).\
**absence** - Represents the fact that the doctor is absent from work (True/False).\
**acceptingNewPatients** - Represents the fact that the doctor is accepting new patients (True/False).\
**videoCall** - Represents the ability to schedule a video-chat appointment (True/False).\
**licenseNum** - Represents the doctor license number.\
**languages** - Represents the languages in which the doctor provides a medical service.\
**visitCost** - Represents the cost of the visit (in ILS).\
**accessible** - Represents the fact that the clinic is accessible to people with disabilities (True/False).\
**receptionOnSunday** - Represents the reception time on sunday (DateTime).\
**receptionOnMonday** - Represents the reception time on monday (DateTime).\
**receptionOnTuesday** - Represents the reception time on tuesday (DateTime).\
**receptionOnWednesday** - Represents the reception time on wednesday (DateTime).\
**receptionOnThursday** - Represents the reception time on thursday (DateTime).\
**receptionOnFriday** - Represents the reception time on friday (DateTime).\
**receptionOnSaturday** - Represents the reception time on saturday (DateTime).\
**graduationYear** - Represents the doctor graduation year from academic studies (yyyy).\
**academicInstitution** - Represents the doctor academic institution.\
**profession** - Represents the doctor profession.\
**specialization** - Represents the doctor specialization.\
**specializationMedicalInstitution** - Represents the doctor specialization medical institution.\
**specializationYear** - Represents the doctor graduation year from the specialization (yyyy).

Great, Let's classify our variables:

| **Discrete Numerical**  | **Continuous Numerical** | **Ordinal Categorical** | **Nominal Categorical**         | **DateTime**         | **Other**    |
|:-----------------------:|:-------------------------:|:-----------------------:|:--------------------------------:|:--------------------:|:------------:|
| numberOfSpecializations | visitCost                 | docTitle                | gender                           | closestAppointment   | docName      |
|                         | graduationYear            |                         | firstSpeciality                  | dateOfScraping       | clinicStreet |
|                         | specializationYear        |                         | secountSpeciality                | receptionOnSunday    | licenseNum   |
|                         |                           |                         | clinicCity                       | receptionOnMonday    |              |
|                         |                           |                         | onlineAppointmentScheduling      | receptionOnTuesday   |              |
|                         |                           |                         | onlineAppointmentCanceling       | receptionOnWednesday |              |
|                         |                           |                         | needsReferral                    | receptionOnThursday  |              |
|                         |                           |                         | preformUS                        | receptionOnFriday    |              |
|                         |                           |                         | absence                          | receptionOnSaturday  |              |
|                         |                           |                         | acceptingNewPatients             |                      |              |
|                         |                           |                         | videoCall                        |                      |              |
|                         |                           |                         | languages                        |                      |              |
|                         |                           |                         | accessible                       |                      |              |
|                         |                           |                         | academicInstitution              |                      |              |
|                         |                           |                         | profession                       |                      |              |
|                         |                           |                         | specialization                   |                      |              |
|                         |                           |                         | specializationMedicalInstitution |                      |              |

> # 3.2 Data Correction

Once we have categorized our variables, we will move on to correcting the information we have collected.\
This step is necessary as it is possible that during our collection\
information was collected incorrectly or in a way that could not be worked with.\
To do this we will use the df.info command and check what needs to be fixed.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10061 entries, 0 to 10060
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   docTitle                          10061 non-null  object
 1   docName                           10061 non-null  object
 2   gender                            10061 non-null  object
 3   firstSpeciality                   10061 non-null  object
 4   secountSpeciality                 1069 non-null   object
 5   numberOfSpecializations           10061 non-null  int64
 6   clinicStreet                      9907 non-null   object
 7   clinicCity                        10061 non-null  object
 8   closestAppointment                7156 non-null   object
 9   dateOfScraping                    10061 non-null  object
 10  onlineAppointmentScheduling       10061 non-null  int64
 11  onlineAppointmentCanceling        10061 non-null  int64
 12  needsReferral                     10061 non-null  int64
 13  preformUS                         10061 non-null  int64
 14  absence                           10061 non-null  int64
 15  acceptingNewPatients              10061 non-null  int64
 16  videoCall                         10061 non-null  int64
 17  licenseNum                        10011 non-null  object
 18  languages                         8373 non-null   object
 19  visitCost                         9975 non-null   object
 20  accessible                        8335 non-null   object
 21  receptionOnSunday                 4294 non-null   object
 22  receptionOnMonday                 4254 non-null   object
 23  receptionOnTuesday                4096 non-null   object
 24  receptionOnWednesday              4125 non-null   object
 25  receptionOnThursday               3970 non-null   object
 26  receptionOnFriday                 1764 non-null   object
 27  receptionOnSaturday               251 non-null    object
 28  graduationYear                    9817 non-null   float64
 29  academicInstitution               9090 non-null   object
 30  profession                        9817 non-null   object
 31  specialization                    8171 non-null   object
 32  specializationMedicalInstitution  5480 non-null   object
 33  specializationYear                8171 non-null   float64
dtypes: float64(2), int64(8), object(24)
memory usage: 2.6+ MB

Let's start by removing duplicate entris.

In [5]:
print("We have", df[df.duplicated()].shape[0], "duplicated rows")
print("This is a very large amount, but to get credible results we had to get rid of them")
df.drop_duplicates(inplace=True, keep='first')
print("--- Duplicates entris removed ---")
print ("Total duplicates:", df[df.duplicated()].shape[0],"out of", df.shape[0], "rows")

We have 2083 duplicated rows
This is a very large amount, but to get credible results we had to get rid of them
--- Duplicates entris removed ---
Total duplicates: 0 out of 7978 rows

Now, lets deal with **closestAppointment**.\
Since we want to predict Waiting times for appointments we need to dump all the null values.

In [6]:
df.dropna(subset=["closestAppointment"], inplace=True)

The value foramt is: [dd/mm/yy dayInWeek].\
Let's separate them into two columns.

In [7]:
# extract the date
regex = "יום\s(א|ב|ג|ד|ה|ו|ש)\'\s([0-9]+\/[0-9]+\/[0-9]+)"

# create another column for the dayInWeek
dayInWeek = df["closestAppointment"]
df.insert(9, 'closestAppointmentDayInWeek', dayInWeek)

# use the regex in order to get a clean date
df['closestAppointment'] = df['closestAppointment'].apply(lambda x: re.search(r"יום\s(א|ב|ג|ד|ה|ו|ש)\'\s([0-9]+\/[0-9]+\/[0-9]+)", str(x)).group(2))

# convert to datetime
df = df.astype({"closestAppointment": "datetime64"})

# set the weekday inside closestAppointmentDayInWeek
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
df["closestAppointmentDayInWeek"] = df['closestAppointment'].apply(lambda x: days[date.weekday(x)])

Now let's deal with the docTitle field, as described earlier this represents the doctor's degree (Dr/Prof).

In [8]:
print(df["docTitle"].unique())

['ד"ר' "פרופ'" 'מרפאת']

It can be seen that during the data collection, unwanted data was also collected,\
so we will delete the bad data and translate into English what is left.

In [9]:
conditions = df[(df["docTitle"] == 'רופא') | (df["docTitle"] == 'מרפאה') | (df["docTitle"] == 'מרפאות') | (df["docTitle"] == 'מרפאת')]
df = df.drop(conditions.index)
df.loc[df['docTitle'] == 'ד"ר', 'docTitle'] = "Dr"
df.loc[df['docTitle']  == "פרופ'", 'docTitle'] = "Prof"

Let's check:

In [10]:
print(df["docTitle"].unique())

['Dr' 'Prof']

Awsome.

Now lets deal with the **visitCost** fiels.  
The rates of public medicine in Israel are set by the Israeli Ministry of Health.  
The rates for a single visit are:

| **Treatment type** | **Price per visit** |
|:---|:---|
| Family doctor, pediatrician, gynecologist, internal medicine doctor | 0 NIS |
| Secondary doctor, dietitian, diabetes institute | 30 NIS |
| Professional institutes (except diabetes), physiotherapy institutes, outpatient clinics | 36 NIS |

In [11]:
# CONVERT TO NUMRIC

df.loc[df["visitCost"] == "ללא השתתפות עצמית", "visitCost"] = 0
df.loc[df["visitCost"] == "השתתפות עצמית רבעונית", "visitCost"] = 30

## We havn't scraped any treatments that cost 36 NIS.

## We can drop the NaN values (aprox. 50 rows)
df.dropna(subset =["visitCost"], inplace=True)

#To finish, were gonna cast the field to int
df = df.astype({"visitCost": "int64"})

Now lets deal with the **accessible** field treatment.  
We have 3 option: Yes, need to confirm, and None.  
Were gonna translate this to english and fill all the None with No.

In [12]:
df.loc[df['accessible'] == 'הנגשה לניידות', 'accessible'] = "Yes"
df.loc[df['accessible'] == 'יש לברר טלפונית', 'accessible'] = "Maybe"
df = df.fillna({"accessible" : "No"})

Now lets deal with the **graduationYear** & **specializationYear** field treatments.  
We have some grabage data such as (year > 2022) that were going to fill with the median.  
About the blanks, were gonna fill them with the median.

In [13]:
mean = df[(df["graduationYear"] <= 2022) & (df["specializationYear"] <= 2022)].median(numeric_only=True)
df.loc[df["graduationYear"] > 2022, 'graduationYear'] = mean.graduationYear
df.loc[df["specializationYear"] > 2022, 'specializationYear'] = mean.specializationYear
df = df.fillna({"graduationYear": mean.graduationYear, "specializationYear": mean.specializationYear})

#To finish, were gonna cast the field to int
df = df.astype({"graduationYear": "int64", "specializationYear": "int64"})

Now, there are some values we can fill with default values, such as:    
**secountSpeciality** - Not all doctors has more then one speciality, so lets fill all this cells with "No".  
**clinicStreet** - There are some clinics located in small towns without street names, so wer'e gonna fill that with the same value as the clinicCity field.
**languages** - It can be safely assumed that doctors that the languages field is empty speak Hebrew and therefore we will fill them in this entry.  
**licenseNum** - Since this a unique field were just gonna fill it with zeros.  
**receptionOn[DAY]** - Fill the blanks with No.  
**academicInstitution** - Fill the blanks with Unknown.  
**profession** - Fill the blanks with "רפואה"  
**specialization** fill the blanks with the same value as firstSpeciality.  
**specializationMedicalInstitution** - Fill the blanks with Unknown.

In [14]:
df = df.fillna({
    ## secountSpeciality ##
    "secountSpeciality" : "No",
    ## clinicStreet ##
    "clinicStreet" : df["clinicCity"],
    ## languages ##
    "languages": "עברית",
    ## licenseNum ##
    "licenseNum" : "000000",
    ## receptionOn[DAY] ##
    "receptionOnSunday" : "No",
    "receptionOnMonday" : "No",
    "receptionOnTuesday" : "No",
    "receptionOnWednesday" : "No",
    "receptionOnThursday" : "No",
    "receptionOnFriday" : "No",
    "receptionOnFriday" : "No",
    "receptionOnSaturday": "No",
    ## academicInstitution ##
    "academicInstitution": "Unknown",
    ## profession ##
    "profession": "רפואה",
    ## specialization ##
    "specialization" : df["firstSpeciality"],
    ## specializationMedicalInstitution ##
    "specializationMedicalInstitution": "Unknown"
               })

Now lets correct all the Dtypes:

In [15]:
df = df.astype({
    "onlineAppointmentScheduling": bool, 
    "onlineAppointmentCanceling": bool,
    "needsReferral": bool,
    "preformUS": bool,
    "absence": bool,
    "acceptingNewPatients": bool,
    "videoCall": bool,
    "dateOfScraping": "datetime64"
})

Lets check our work:

In [16]:
df.describe(include="all", datetime_is_numeric=True)

,docTitle,docName,gender,firstSpeciality,secountSpeciality,numberOfSpecializations,clinicStreet,clinicCity,closestAppointment,closestAppointmentDayInWeek,...,receptionOnWednesday,receptionOnThursday,receptionOnFriday,receptionOnSaturday,graduationYear,academicInstitution,profession,specialization,specializationMedicalInstitution,specializationYear
count,5731,5731,5731,5731,5731,5731.000000,5731,5731,5731,5731,...,5731,5731,5731,5731,5731.000000,5731,5731,5731,5731,5731.000000
unique,2,3981,2,74,51,NaN,1011,174,NaN,7,...,576,575,288,47,NaN,228,31,68,79,NaN
top,Dr,קפלן ליאורה,M,"משפחה, פנימית וכללית",No,NaN,התקוה 4,תל אביב - יפו,NaN,Tuesday,...,No,No,No,No,NaN,אוניברסיטת תל אביב,רפואה,רפואת ילדים,Unknown,NaN
freq,5539,13,3610,1290,5384,NaN,70,412,NaN,1459,...,3251,3313,4648,5669,NaN,761,5117,743,2703,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.070145,NaN,NaN,2022-06-15 14:46:57.937532928,NaN,...,NaN,NaN,NaN,NaN,1994.697609,NaN,NaN,NaN,NaN,2004.932298
min,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,2022-01-06 00:00:00,NaN,...,NaN,NaN,NaN,NaN,1947.000000,NaN,NaN,NaN,NaN,1974.000000
25%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,2022-05-18 00:00:00,NaN,...,NaN,NaN,NaN,NaN,1985.000000,NaN,NaN,NaN,NaN,2000.000000
50%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,2022-05-25 00:00:00,NaN,...,NaN,NaN,NaN,NaN,1993.000000,NaN,NaN,NaN,NaN,2005.000000
75%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,2022-07-06 00:00:00,NaN,...,NaN,NaN,NaN,NaN,2005.000000,NaN,NaN,NaN,NaN,2012.000000
max,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,2023-12-01 00:00:00,NaN,...,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,2022.000000
std,NaN,NaN,NaN,NaN,NaN,0.308631,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.892122,NaN,NaN,NaN,NaN,9.353068

Awsome!\
Lets save and continue to the next step.

In [17]:
df.to_csv("data/data_after_cleaning.csv", encoding='utf-8-sig')
print("Dataframe saved as CSV file.")

Dataframe saved as CSV file.